<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>사람 얼굴 인식</title>
    </head>
    <body>
        <form name="regist_face" action="/recogPage/recog" enctype="multipart/form-data" method="post">
            <table>
                <tr>
                    <td>사진</td>
                    <td><input type="file" name="input_img"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="완료" /></td>
                </tr>
            </table>
        </form>
    </body>
</html>


<!--<form method="post" enctype="multipart/form-data" action="sim_img_test.jsp">-->
<!--    <input type="file" name="file">-->
<!--        <input type="submit" value="업로드">-->
<!--</form>-->
